In [1]:
import numpy as np
import pandas as pd

In [2]:
heights_A = pd.Series(data = [176.2, 158.4, 167.6, 156.2, 161.4], index = ['s1', 's2', 's3', 's4', 's5'])
heights_A

s1    176.2
s2    158.4
s3    167.6
s4    156.2
s5    161.4
dtype: float64

In [3]:
heights_A.get('s2')

158.4

In [4]:
heights_A['s3':]

s3    167.6
s4    156.2
s5    161.4
dtype: float64

In [5]:
weights_A = pd.Series(data = [85.1, 90.2, 76.8, 80.4, 78.9], index = ['s1', 's2', 's3', 's4', 's5'])
weights_A

s1    85.1
s2    90.2
s3    76.8
s4    80.4
s5    78.9
dtype: float64

In [6]:
df_A = pd.DataFrame(data = {"Student_height": heights_A, "Student_weight": weights_A})
df_A

    Student_height  Student_weight
s1           176.2            85.1
s2           158.4            90.2
s3           167.6            76.8
s4           156.2            80.4
s5           161.4            78.9

In [7]:
df_A["Gender"] = ['M', 'F', 'M', 'M', 'F']
df_groups = df_A.groupby(by = "Gender")
df_A

    Student_height  Student_weight Gender
s1           176.2            85.1      M
s2           158.4            90.2      F
s3           167.6            76.8      M
s4           156.2            80.4      M
s5           161.4            78.9      F

In [8]:
df_groups.agg('mean')

        Student_height  Student_weight
Gender
F           159.900000       84.550000
M           166.666667       80.766667

In [9]:
df_groups.mean()

        Student_height  Student_weight
Gender
F           159.900000       84.550000
M           166.666667       80.766667